./xbi_tasking_backend/venv/
./xbi_ui/node_modules/
./xbi_tasking_backend/environment/venv/
./xbi_tasking_backend/code/xbi_tasking_3/venv/
node_modules/
__pycache__/
venv/
XBI_UI/
xbi_tasking_backend/code/
xbi_tasking_backend/dev_server.config
xbi_tasking_backend/testing.config
xbi_tasking_backend/*.config
!xbi_tasking_backend/*.config.example

xbi_tasking_backend/certs/*
!xbi_tasking_backend/certs/.gitkeep
mockui/
dev_server.config
keycloak_stuff/start_keycloak.bat
*.crt
*.key