body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;

}

.navbar h1 {
  color: turquoise;

}

.navbar a:hover{
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}