@import './MainPage.css';
@import './HeaderSection.css';
@import './SidebarSection.css';
@import './ContentSection.css';
@import './TaskingSummaryTab.css';
@import './TaskingManagerTab.css';
@import './CompletedImagesTab.css';
