[Database]
database_name: XBI_TASKING_3
ip_address: postgres
port: 5432
user: postgres
password: password
auto_init_db: true

[Keycloak]
keycloak_url: http://localhost:8080
realm: xbi-tasking
client_id: xbi-tasking-backend
client_secret: Zj7CYgoGf7pOuW18fEcmNFwI7HIK1k0K
admin_client_id: xbi-tasking-admin
admin_client_secret: 9YMbyTXVTpjPErz8jGwmWtjwfsNDnont
allowed_client_ids: xbi-tasking-frontend, xbi-tasking-backend, xbi-tasking-admin
roles_client_id: xbi-tasking-backend
required_group: xbi-tasking-users
