[Database]
database_name: XBI_TASKING_3_TEST
ip_address: localhost
port: 5432
user: postgres
password : admin123

[Keycloak]
keycloak_url: http://localhost:8080
realm: xbi-tasking
client_id: xbi-tasking-backend
client_secret: YbaOqj1tbphKOuMqzwubHM9Sm4e5HopM
allowed_client_ids: xbi-tasking-backend, xbi-tasking-frontend, account
admin_client_id: xbi-tasking-admin
admin_client_secret: e8zgknuLFsEXvg4I2SdIRvp6NatCDTX0