.title{
    margin-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 5vmin);
}

.landingPages{
    font-size:calc(10px + 2vmin);
    margin-top: 4vw;
    margin-left: 3vw;
    margin-right: 6vw;
    text-decoration: none;
    
}

.landingPages:hover {
    text-shadow: 1px 1px gray;
    cursor: pointer;
}

.landing {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: 5em;
    /* border: 1px solid black */
}

.mainLogo {
    height: 35em;
    width: 27em;
}

.titleBody {
    margin-right: 12em;
    /* border: 1px solid red; */
}
