body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 10px;
  display: flex;
  margin: -30px -24px 10px -24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(0, 0, 90);
  align-items: center;
  justify-content: center;
}
.navbar a {
  margin: 0px 40px;
  padding: 6px;
  color: white;
}

.navbar h1 {
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 0 0 0 100px;
}

.navbar a:hover{
  color: #a1a1e6;
}

.tabs {
  padding: 0 0 0.4em 0;
}

.logo {
  margin: 0.80em 0 0 1.5em;
  float: left;
  width: 32px;
  height: 40px;
}

.logo h1{
  position: relative;
  top: 18px;
  left: 10px;
}

.navtabTitle {
  margin-top: 0.5em;
}
