/* GenBinCount page table styles. */
table.genbincountpage {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
      
table.genbincountpage td,
table.genbincountpage th {
  border: 1px solid #ddd;
  padding: 8px;
}

table.genbincountpage tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.genbincountpage tr:hover {
  background-color: #ddd;
}

table.genbincountpage th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

/* UpdateSensorCategory page table styles. */
.updatesensorcategory {
  font-family: sans-serif;
  text-align: center;
}

table.updatesensorcategory {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}